[submodule "libs/ai-toolkit"]
	path = libs/ai-toolkit
	url = ../ai-toolkit.git
[submodule "libs/llama.cpp"]
	path = libs/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
[submodule "external/IC-Agent-Skill"]
	path = external/IC-Agent-Skill
	url = git@github.com:lenhop/IC-Agent-Skill.git
